<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Clientes</title>
</head>
<body>
    <h1>Consulta de productos confirmados </h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Productos</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{ client.id }}</td>
                    <td>{{ client.name }}</td>
                    <td>
                        <ul>
                            {% for producto in products_li %}
                                <li>{{ producto }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
         
        </tbody>
    </table>
</body>
</html>